@import 'tailwindcss';

@theme {
    --color-pixl: #ECA749;
    --color-pixl-light: #EEEEEE;
    --color-pixl-dark: #090909;

    --font-pixl: 'Departure Mono', monospace;
    --default-font-family: var(--font-pixl);
}

@layer base {
    @font-face {
        font-family: 'Departure Mono';
        src: url('public/fonts/DepartureMono-Regular.woff') format('woff2'),
        url('public/fonts/DepartureMono-Regular.woff2') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}
